body {
    font-family: 'Poppins', sans-serif;

}

.box1 {
    text-align: center;
}

section {
    display: flex;
}

#button {
    background-color: rgb(255, 129, 71);
}

#section {
    text-align: center;
}

#columns {
    5px;
}

;